<div>
    <h2 id="page-heading">
        <span jhiTranslate="rdcApp.offertaOccupazioneRichiesta.home.title">Offerta Occupazione Richiestas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offerta-occupazione-richiesta" [routerLink]="['/offerta-occupazione-richiesta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rdcApp.offertaOccupazioneRichiesta.home.createLabel">
            Create a new Offerta Occupazione Richiesta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="offertaOccupazioneRichiestas?.length === 0">
        <span jhiTranslate="rdcApp.offertaOccupazioneRichiesta.home.notFound">No offertaOccupazioneRichiestas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="offertaOccupazioneRichiestas && offertaOccupazioneRichiestas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="rdcApp.offertaOccupazioneRichiesta.codiceOfferta">Codice Offerta</span></th>
                    <th scope="col" ><span jhiTranslate="rdcApp.offertaOccupazioneRichiesta.codiceEscoOccupazione">Codice Esco Occupazione</span></th>
                    <th scope="col" ><span jhiTranslate="rdcApp.offertaOccupazioneRichiesta.anni">Anni</span></th>
                    <th scope="col" ><span jhiTranslate="rdcApp.offertaOccupazioneRichiesta.offerta">Offerta</span></th>
                    <th scope="col" ><span jhiTranslate="rdcApp.offertaOccupazioneRichiesta.occupazione">Occupazione</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offertaOccupazioneRichiesta of offertaOccupazioneRichiestas ;trackBy: trackId">
                    <td><a [routerLink]="['/offerta-occupazione-richiesta', offertaOccupazioneRichiesta.id, 'view']">{{ offertaOccupazioneRichiesta.id }}</a></td>
                    <td>{{ offertaOccupazioneRichiesta.codiceOfferta }}</td>
                    <td>{{ offertaOccupazioneRichiesta.codiceEscoOccupazione }}</td>
                    <td>{{ offertaOccupazioneRichiesta.anni }}</td>
                    <td>
                        <div *ngIf="offertaOccupazioneRichiesta.offerta">
                            <a [routerLink]="['/offerta', offertaOccupazioneRichiesta.offerta?.id, 'view']" >{{ offertaOccupazioneRichiesta.offerta?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="offertaOccupazioneRichiesta.occupazione">
                            <a [routerLink]="['/occupazione', offertaOccupazioneRichiesta.occupazione?.id, 'view']" >{{ offertaOccupazioneRichiesta.occupazione?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/offerta-occupazione-richiesta', offertaOccupazioneRichiesta.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/offerta-occupazione-richiesta', offertaOccupazioneRichiesta.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(offertaOccupazioneRichiesta)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
