<div class="card bg-light mb-3">
  <div class="card-header">
    <h5 id="page-heading">
      <span>Registri</span>
    </h5>
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row justify-content-center">
          <div class="col">
            <button type="button" class="btn big-btn btn-rev" routerLink="/registers/azienda/all">
              <fa-icon icon="building"></fa-icon><br />
              <span class="d-md-inline">Aziende</span>
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn big-btn btn-rev">
              <fa-icon icon="address-book"></fa-icon><br />
              <span class="d-md-inline">Candidati</span>
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn big-btn btn-rev">
              <fa-icon icon="briefcase"></fa-icon><br />
              <span class="d-md-inline">Offerte</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
