<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row justify-content-center">
          <div class="col">
            <button type="button" class="btn big-btn btn-rev" routerLink="/registries/m/device">
              <fa-icon icon="building"></fa-icon><br />
              <span class="d-md-inline">Aziende</span>
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn big-btn btn-rev" routerLink="/data-scheduler/manager-job">
              <fa-icon icon="address-book"></fa-icon><br />
              <span class="d-md-inline">Candidati</span>
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn big-btn btn-rev" routerLink="/installation">
              <fa-icon icon="briefcase"></fa-icon><br />
              <span class="d-md-inline">Offerte</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
