<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cv">
            <h2><span jhiTranslate="rdcJhipsterApp.cv.detail.title">Cv</span> {{ cv.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rdcJhipsterApp.cv.cfUtente">Cf Utente</span></dt>
                <dd>
                    <span>{{ cv.cfUtente }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.cv.codice">Codice</span></dt>
                <dd>
                    <span>{{ cv.codice }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.cv.inserimento">Inserimento</span></dt>
                <dd>
                    <span>{{ cv.inserimento }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.cv.candidato">Candidato</span></dt>
                <dd>
                    <div *ngIf="cv.candidato">
                        <a [routerLink]="['/candidato', cv.candidato?.id, 'view']">{{ cv.candidato?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cv', cv.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
