<div>
    <h2 id="page-heading">
        <span jhiTranslate="rdcJhipsterApp.istruzione.home.title">Istruziones</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-istruzione" [routerLink]="['/istruzione/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rdcJhipsterApp.istruzione.home.createLabel">
            Create a new Istruzione
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="istruziones?.length === 0">
        <span jhiTranslate="rdcJhipsterApp.istruzione.home.notFound">No istruziones found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="istruziones && istruziones.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codiceIsced"><span jhiTranslate="rdcJhipsterApp.istruzione.codiceIsced">Codice Isced</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codiceLivello"><span jhiTranslate="rdcJhipsterApp.istruzione.codiceLivello">Codice Livello</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="rdcJhipsterApp.istruzione.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="campoStudio"><span jhiTranslate="rdcJhipsterApp.istruzione.campoStudio">Campo Studio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sinonimi"><span jhiTranslate="rdcJhipsterApp.istruzione.sinonimi">Sinonimi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codiceIstituto"><span jhiTranslate="rdcJhipsterApp.istruzione.codiceIstituto">Codice Istituto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoIstituto"><span jhiTranslate="rdcJhipsterApp.istruzione.tipoIstituto">Tipo Istituto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let istruzione of istruziones ;trackBy: trackId">
                    <td><a [routerLink]="['/istruzione', istruzione.id, 'view']">{{ istruzione.id }}</a></td>
                    <td>{{ istruzione.codiceIsced }}</td>
                    <td>{{ istruzione.codiceLivello }}</td>
                    <td>{{ istruzione.nome }}</td>
                    <td>{{ istruzione.campoStudio }}</td>
                    <td>{{ istruzione.sinonimi }}</td>
                    <td>{{ istruzione.codiceIstituto }}</td>
                    <td>{{ istruzione.tipoIstituto }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/istruzione', istruzione.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/istruzione', istruzione.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(istruzione)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="istruziones && istruziones.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
