<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="istruzione">
            <h2><span jhiTranslate="rdcApp.istruzione.detail.title">Istruzione</span> {{ istruzione.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rdcApp.istruzione.codice">Codice</span></dt>
                <dd>
                    <span>{{ istruzione.codice }}</span>
                </dd>
                <dt><span jhiTranslate="rdcApp.istruzione.codiceIsced">Codice Isced</span></dt>
                <dd>
                    <span>{{ istruzione.codiceIsced }}</span>
                </dd>
                <dt><span jhiTranslate="rdcApp.istruzione.codiceLivello">Codice Livello</span></dt>
                <dd>
                    <span>{{ istruzione.codiceLivello }}</span>
                </dd>
                <dt><span jhiTranslate="rdcApp.istruzione.nome">Nome</span></dt>
                <dd>
                    <span>{{ istruzione.nome }}</span>
                </dd>
                <dt><span jhiTranslate="rdcApp.istruzione.campoStudio">Campo Studio</span></dt>
                <dd>
                    <span>{{ istruzione.campoStudio }}</span>
                </dd>
                <dt><span jhiTranslate="rdcApp.istruzione.sinonimi">Sinonimi</span></dt>
                <dd>
                    <span>{{ istruzione.sinonimi }}</span>
                </dd>
                <dt><span jhiTranslate="rdcApp.istruzione.codiceIstituto">Codice Istituto</span></dt>
                <dd>
                    <span>{{ istruzione.codiceIstituto }}</span>
                </dd>
                <dt><span jhiTranslate="rdcApp.istruzione.tipoIstituto">Tipo Istituto</span></dt>
                <dd>
                    <span>{{ istruzione.tipoIstituto }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/istruzione', istruzione.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
