<div class="card">
  <div class="card-header">
    <h2 id="page-heading">
      <span jhiTranslate="rdcJhipsterApp.azienda.home.title">Registro Aziende</span>

      <button
        id="jh-create-entity"
        class="btn btn-primary float-right jh-create-entity create-azienda"
        [routerLink]="['/registers/azienda/create-update']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="rdcJhipsterApp.azienda.home.createLabel"> Create a new Azienda </span>
      </button>
    </h2>
  </div>

  <div class="card-body">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aziendas?.length === 0">
      <span jhiTranslate="rdcJhipsterApp.azienda.home.notFound">No aziendas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aziendas && aziendas.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="cf"><span jhiTranslate="rdcJhipsterApp.azienda.cf">Cf</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="ragioneSociale">
              <span jhiTranslate="rdcJhipsterApp.azienda.ragioneSociale">Ragione Sociale</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="indirizzoSede">
              <span jhiTranslate="rdcJhipsterApp.azienda.indirizzoSede">Indirizzo Sede</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="provinciaSede">
              <span jhiTranslate="rdcJhipsterApp.azienda.provinciaSede">Provincia Sede</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="regioneSede">
              <span jhiTranslate="rdcJhipsterApp.azienda.regioneSede">Ragione Sede</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="capSede">
              <span jhiTranslate="rdcJhipsterApp.azienda.capSede">Cap Sede</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="internalUser.id">
              <span jhiTranslate="rdcJhipsterApp.azienda.internalUser">Internal User</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let azienda of aziendas; trackBy: trackId">
            <td>
              <a [routerLink]="['/azienda', azienda.id, 'view']">{{ azienda.id }}</a>
            </td>
            <td>{{ azienda.cf }}</td>
            <td>{{ azienda.ragioneSociale }}</td>
            <td>{{ azienda.indirizzoSede }}</td>
            <td>{{ azienda.provinciaSede }}</td>
            <td>{{ azienda.regioneSede }}</td>
            <td>{{ azienda.capSede }}</td>
            <td>
              {{ azienda.internalUser?.id }}
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit" [routerLink]="['/azienda', azienda.id, 'view']" class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button type="submit" [routerLink]="['/azienda', azienda.id, 'edit']" class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" class="btn btn-danger btn-sm">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="aziendas && aziendas.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
