<div class="card">
  <div class="card-header" style="padding-bottom: 0px">
    <div class="row wrap-tab">
      <div class="col-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [class.active]="tabGeneral" jhiTranslate="rdcJhipsterApp.candidato.tab.tabGeneral">Generale</a>
          </li>
        </ul>
      </div>
      <div class="col-3" style="text-align: right">
        <span jhiTranslate="rdcJhipsterApp.candidato.home.createOrEditLabel">Registro Candidati</span>
      </div>
    </div>
  </div>

  <div class="card-body">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
      <div class="col">
        <form id="editForm" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <h2 id="jhi-candidato-heading" jhiTranslate="rdcJhipsterApp.candidato.home.createOrEditLabel">Create or edit a Candidato</h2>

          <div>
            <jhi-alert-error></jhi-alert-error>

            <div class="form-group" [hidden]="!editForm.get('id')!.value">
              <label for="id" jhiTranslate="global.field.id">ID</label>
              <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.cf" for="field_cf">Cf</label>
              <input type="text" class="form-control" name="cf" id="field_cf" formControlName="cf" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.nome" for="field_nome">Nome</label>
              <input type="text" class="form-control" name="nome" id="field_nome" formControlName="nome" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.cognome" for="field_cognome">Cognome</label>
              <input type="text" class="form-control" name="cognome" id="field_cognome" formControlName="cognome" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.dataNascita" for="field_dataNascita"
                >Data Nascita</label
              >
              <div class="input-group">
                <input
                  id="field_dataNascita"
                  type="text"
                  class="form-control"
                  name="dataNascita"
                  ngbDatepicker
                  #dataNascitaDp="ngbDatepicker"
                  formControlName="dataNascita"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dataNascitaDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.luogoNascita" for="field_luogoNascita"
                >Luogo Nascita</label
              >
              <input type="text" class="form-control" name="luogoNascita" id="field_luogoNascita" formControlName="luogoNascita" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.sesso" for="field_sesso">Sesso</label>
              <input type="text" class="form-control" name="sesso" id="field_sesso" formControlName="sesso" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.telefono" for="field_telefono">Telefono</label>
              <input type="text" class="form-control" name="telefono" id="field_telefono" formControlName="telefono" />
              <div *ngIf="editForm.get('telefono')!.invalid && (editForm.get('telefono')!.dirty || editForm.get('telefono')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('telefono')?.errors?.pattern"
                  jhiTranslate="entity.validation.pattern"
                  [translateValues]="{ pattern: 'Telefono' }"
                >
                  This field should follow pattern for "Telefono".
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.email" for="field_email">Email</label>
              <input type="text" class="form-control" name="email" id="field_email" formControlName="email" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.citta" for="field_citta">Citta</label>
              <input type="text" class="form-control" name="citta" id="field_citta" formControlName="citta" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.indirizzo" for="field_indirizzo">Indirizzo</label>
              <input type="text" class="form-control" name="indirizzo" id="field_indirizzo" formControlName="indirizzo" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.cap" for="field_cap">Cap</label>
              <input type="text" class="form-control" name="cap" id="field_cap" formControlName="cap" />
              <div *ngIf="editForm.get('cap')!.invalid && (editForm.get('cap')!.dirty || editForm.get('cap')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('cap')?.errors?.pattern"
                  jhiTranslate="entity.validation.pattern"
                  [translateValues]="{ pattern: 'Cap' }"
                >
                  This field should follow pattern for "Cap".
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.provincia" for="field_provincia">Provincia</label>
              <input type="text" class="form-control" name="provincia" id="field_provincia" formControlName="provincia" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.candidato.regione" for="field_regione">Regione</label>
              <input type="text" class="form-control" name="regione" id="field_regione" formControlName="regione" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row justify-content-right footrow-rev">
    <div class="col p-3">
      <button type="button" class="btn btn-light">
        <fa-icon icon="arrow-circle-left" style="font-size: large"></fa-icon>
      </button>

      <button type="button" class="btn btn-light">
        <fa-icon icon="arrow-circle-right" style="font-size: large"></fa-icon>
      </button>
    </div>
    <div class="col p-3" style="text-align: right">
      <button type="button" class="btn btn-secondary" (click)="previousState()">Cancel</button>
      <button type="button" class="btn btn-primary" *ngIf="!isModified && !editForm.dirty">Next</button>
      <button type="submit" class="btn btn-primary" form="editForm" *ngIf="isModified || editForm.dirty">Save</button>
    </div>
  </div>
</div>
