<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="esperienza">
            <h2><span jhiTranslate="rdcJhipsterApp.esperienza.detail.title">Esperienza</span> {{ esperienza.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rdcJhipsterApp.esperienza.attivita">Attivita</span></dt>
                <dd>
                    <span>{{ esperienza.attivita }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.esperienza.dal">Dal</span></dt>
                <dd>
                    <span>{{ esperienza.dal }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.esperienza.al">Al</span></dt>
                <dd>
                    <span>{{ esperienza.al }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.esperienza.datoreLavoro">Datore Lavoro</span></dt>
                <dd>
                    <span>{{ esperienza.datoreLavoro }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.esperienza.sedeLavoro">Sede Lavoro</span></dt>
                <dd>
                    <span>{{ esperienza.sedeLavoro }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.esperienza.cv">Cv</span></dt>
                <dd>
                    <div *ngIf="esperienza.cv">
                        <a [routerLink]="['/cv', esperienza.cv?.id, 'view']">{{ esperienza.cv?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/esperienza', esperienza.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
