<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="skillUtente">
            <h2><span jhiTranslate="rdcJhipsterApp.skillUtente.detail.title">Skill Utente</span> {{ skillUtente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rdcJhipsterApp.skillUtente.cfUtente">Cf Utente</span></dt>
                <dd>
                    <span>{{ skillUtente.cfUtente }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.skillUtente.codiceEscoSkill">Codice Esco Skill</span></dt>
                <dd>
                    <span>{{ skillUtente.codiceEscoSkill }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.skillUtente.skill">Skill</span></dt>
                <dd>
                    <div *ngIf="skillUtente.skill">
                        <a [routerLink]="['/skill', skillUtente.skill?.id, 'view']">{{ skillUtente.skill?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.skillUtente.candidato">Candidato</span></dt>
                <dd>
                    <div *ngIf="skillUtente.candidato">
                        <a [routerLink]="['/candidato', skillUtente.candidato?.id, 'view']">{{ skillUtente.candidato?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/skill-utente', skillUtente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
