<div>
    <h2 id="page-heading">
        <span jhiTranslate="rdcJhipsterApp.skillUtente.home.title">Skill Utentes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill-utente" [routerLink]="['/skill-utente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rdcJhipsterApp.skillUtente.home.createLabel">
            Create a new Skill Utente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="skillUtentes?.length === 0">
        <span jhiTranslate="rdcJhipsterApp.skillUtente.home.notFound">No skillUtentes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="skillUtentes && skillUtentes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codiceEscoSkill"><span jhiTranslate="rdcJhipsterApp.skillUtente.codiceEscoSkill">Codice Esco Skill</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="skill.id"><span jhiTranslate="rdcJhipsterApp.skillUtente.skill">Skill</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="candidato.id"><span jhiTranslate="rdcJhipsterApp.skillUtente.candidato">Candidato</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skillUtente of skillUtentes ;trackBy: trackId">
                    <td><a [routerLink]="['/skill-utente', skillUtente.id, 'view']">{{ skillUtente.id }}</a></td>
                    <td>{{ skillUtente.codiceEscoSkill }}</td>
                    <td>
                        <div *ngIf="skillUtente.skill">
                            <a [routerLink]="['/skill', skillUtente.skill?.id, 'view']" >{{ skillUtente.skill?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="skillUtente.candidato">
                            <a [routerLink]="['/candidato', skillUtente.candidato?.id, 'view']" >{{ skillUtente.candidato?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/skill-utente', skillUtente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/skill-utente', skillUtente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(skillUtente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="skillUtentes && skillUtentes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
