<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offerta">
            <h2><span jhiTranslate="rdcJhipsterApp.offerta.detail.title">Offerta</span> {{ offerta.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rdcJhipsterApp.offerta.data">Data</span></dt>
                <dd>
                    <span>{{ offerta.data }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.offerta.indirizzoSede">Indirizzo Sede</span></dt>
                <dd>
                    <span>{{ offerta.indirizzoSede }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.offerta.cittaSede">Citta Sede</span></dt>
                <dd>
                    <span>{{ offerta.cittaSede }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.offerta.capSede">Cap Sede</span></dt>
                <dd>
                    <span>{{ offerta.capSede }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.offerta.provinciaSede">Provincia Sede</span></dt>
                <dd>
                    <span>{{ offerta.provinciaSede }}</span>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.offerta.istruzione">Istruzione</span></dt>
                <dd>
                    <div *ngIf="offerta.istruzione">
                        <a [routerLink]="['/istruzione', offerta.istruzione?.id, 'view']">{{ offerta.istruzione?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="rdcJhipsterApp.offerta.azienda">Azienda</span></dt>
                <dd>
                    <div *ngIf="offerta.azienda">
                        <a [routerLink]="['/azienda', offerta.azienda?.id, 'view']">{{ offerta.azienda?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offerta', offerta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
