<div class="card">
  <div class="card-header" style="padding-bottom: 0px">
    <div class="row wrap-tab">
      <div class="col-9">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [class.active]="tabGeneral" jhiTranslate="rdcJhipsterApp.offerta.tab.tabGeneral">Generale</a>
          </li>
        </ul>
      </div>
      <div class="col-3" style="text-align: right">
        <span jhiTranslate="rdcJhipsterApp.offerta.home.createOrEditLabel">Registro Offerte</span>
      </div>
    </div>
  </div>

  <div class="card-body">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
      <div class="col">
        <form id="editForm" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <h2 id="jhi-offerta-heading" jhiTranslate="rdcJhipsterApp.offerta.home.createOrEditLabel">Create or edit a Offerta</h2>

          <div>
            <div class="form-group" [hidden]="!editForm.get('id')!.value">
              <label for="id" jhiTranslate="global.field.id">ID</label>
              <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.offerta.data" for="field_data">Data</label>
              <div class="input-group">
                <input
                  id="field_data"
                  type="text"
                  class="form-control"
                  name="data"
                  ngbDatepicker
                  #dataDp="ngbDatepicker"
                  formControlName="data"
                />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.offerta.indirizzoSede" for="field_indirizzoSede"
                >Indirizzo Sede</label
              >
              <input type="text" class="form-control" name="indirizzoSede" id="field_indirizzoSede" formControlName="indirizzoSede" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.offerta.cittaSede" for="field_cittaSede">Citta Sede</label>
              <input type="text" class="form-control" name="cittaSede" id="field_cittaSede" formControlName="cittaSede" />
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.offerta.capSede" for="field_capSede">Cap Sede</label>
              <input type="text" class="form-control" name="capSede" id="field_capSede" formControlName="capSede" />
              <div *ngIf="editForm.get('capSede')!.invalid && (editForm.get('capSede')!.dirty || editForm.get('capSede')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('capSede')?.errors?.pattern"
                  jhiTranslate="entity.validation.pattern"
                  [translateValues]="{ pattern: 'Cap Sede' }"
                >
                  This field should follow pattern for "Cap Sede".
                </small>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.offerta.provinciaSede" for="field_provinciaSede"
                >Provincia Sede</label
              >
              <select class="form-control" name="provinciaSede" id="field_provinciaSede" formControlName="provinciaSede">
                <option *ngFor="let provincia of province" [value]="provincia">
                  {{ provincia }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.offerta.istruzione" for="field_istruzione">Istruzione</label>
              <select class="form-control" id="field_istruzione" name="istruzione" formControlName="istruzione">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    istruzioneOption.id === editForm.get('istruzione')!.value?.id ? editForm.get('istruzione')!.value : istruzioneOption
                  "
                  *ngFor="let istruzioneOption of istruziones; trackBy: trackById"
                >
                  {{ istruzioneOption.id }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-control-label" jhiTranslate="rdcJhipsterApp.offerta.azienda" for="field_azienda">Azienda</label>
              <select class="form-control" id="field_azienda" name="azienda" formControlName="azienda">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="aziendaOption.id === editForm.get('azienda')!.value?.id ? editForm.get('azienda')!.value : aziendaOption"
                  *ngFor="let aziendaOption of aziendas; trackBy: trackById"
                >
                  {{ aziendaOption.id }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row justify-content-right footrow-rev">
    <div class="col p-3">
      <button type="button" class="btn btn-light">
        <fa-icon icon="arrow-circle-left" style="font-size: large"></fa-icon>
      </button>

      <button type="button" class="btn btn-light">
        <fa-icon icon="arrow-circle-right" style="font-size: large"></fa-icon>
      </button>
    </div>
    <div class="col p-3" style="text-align: right">
      <button type="button" class="btn btn-secondary" (click)="previousState()">Cancel</button>
      <button type="button" class="btn btn-primary" *ngIf="!isModified && !editForm.dirty">Next</button>
      <button type="submit" class="btn btn-primary" form="editForm" *ngIf="isModified || editForm.dirty">Save</button>
    </div>
  </div>
</div>
