<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="azienda">
      <h2><span jhiTranslate="rdcJhipsterApp.azienda.detail.title">Azienda</span> {{ azienda.id }}</h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rdcJhipsterApp.azienda.cf">Cf</span></dt>
        <dd>
          <span>{{ azienda.cf }}</span>
        </dd>
        <dt><span jhiTranslate="rdcJhipsterApp.azienda.ragioneSociale">Ragione Sociale</span></dt>
        <dd>
          <span>{{ azienda.ragioneSociale }}</span>
        </dd>
        <dt><span jhiTranslate="rdcJhipsterApp.azienda.indirizzoSede">Indirizzo Sede</span></dt>
        <dd>
          <span>{{ azienda.indirizzoSede }}</span>
        </dd>
        <dt><span jhiTranslate="rdcJhipsterApp.azienda.provinciaSede">Provincia Sede</span></dt>
        <dd>
          <span>{{ azienda.provinciaSede }}</span>
        </dd>
        <dt><span jhiTranslate="rdcJhipsterApp.azienda.regioneSede">Ragione Sede</span></dt>
        <dd>
          <span>{{ azienda.regioneSede }}</span>
        </dd>
        <dt><span jhiTranslate="rdcJhipsterApp.azienda.capSede">Cap Sede</span></dt>
        <dd>
          <span>{{ azienda.capSede }}</span>
        </dd>
        <dt><span jhiTranslate="rdcJhipsterApp.azienda.internalUser">Internal User</span></dt>
        <dd>
          {{ azienda.internalUser?.id }}
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/azienda', azienda.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
