<div>
    <h2 id="page-heading">
        <span jhiTranslate="rdcJhipsterApp.navigator.home.title">Navigators</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-navigator" [routerLink]="['/navigator/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rdcJhipsterApp.navigator.home.createLabel">
            Create a new Navigator
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="navigators?.length === 0">
        <span jhiTranslate="rdcJhipsterApp.navigator.home.notFound">No navigators found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="navigators && navigators.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cf"><span jhiTranslate="rdcJhipsterApp.navigator.cf">Cf</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="rdcJhipsterApp.navigator.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cognome"><span jhiTranslate="rdcJhipsterApp.navigator.cognome">Cognome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataNascita"><span jhiTranslate="rdcJhipsterApp.navigator.dataNascita">Data Nascita</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sesso"><span jhiTranslate="rdcJhipsterApp.navigator.sesso">Sesso</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefono"><span jhiTranslate="rdcJhipsterApp.navigator.telefono">Telefono</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="rdcJhipsterApp.navigator.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="citta"><span jhiTranslate="rdcJhipsterApp.navigator.citta">Citta</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="indirizzo"><span jhiTranslate="rdcJhipsterApp.navigator.indirizzo">Indirizzo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cap"><span jhiTranslate="rdcJhipsterApp.navigator.cap">Cap</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="provincia"><span jhiTranslate="rdcJhipsterApp.navigator.provincia">Provincia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="regione"><span jhiTranslate="rdcJhipsterApp.navigator.regione">Regione</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="internalUser.id"><span jhiTranslate="rdcJhipsterApp.navigator.internalUser">Internal User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let navigator of navigators ;trackBy: trackId">
                    <td><a [routerLink]="['/navigator', navigator.id, 'view']">{{ navigator.id }}</a></td>
                    <td>{{ navigator.cf }}</td>
                    <td>{{ navigator.nome }}</td>
                    <td>{{ navigator.cognome }}</td>
                    <td>{{ navigator.dataNascita | date:'mediumDate' }}</td>
                    <td>{{ navigator.sesso }}</td>
                    <td>{{ navigator.telefono }}</td>
                    <td>{{ navigator.email }}</td>
                    <td>{{ navigator.citta }}</td>
                    <td>{{ navigator.indirizzo }}</td>
                    <td>{{ navigator.cap }}</td>
                    <td>{{ navigator.provincia }}</td>
                    <td>{{ navigator.regione }}</td>
                    <td>
                        {{ navigator.internalUser?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/navigator', navigator.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/navigator', navigator.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(navigator)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="navigators && navigators.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
